# NetBeans Folders
nbproject/
build/
dist/

# Netbeans Files
build.xml
manifest.mf

# Temp file
*.swp

# Final submitted file
*.zip

# Compiled file
*.class

# Jar files
*.jar

# War files
*.war

*.class

*.class

*.class

EX-employees/build/web/WEB-INF/classes/com/myapp/struts/action/DeleteEmployeAction.class

EX-employees/nbproject/project.properties

EX-employees/nbproject/private/private.properties

EX-employees/nbproject/private/private.xml

EX-employees/dist/EX-employees.war

EX-employees/dist/EX-employees.war
